.result-container{
    background: rgba(255, 255, 255, .14);
    position: relative;
    top: 4rem;
    height: calc(100vh - 6.5rem);
    overflow-x: auto;
}
.movie-wrapper{
    width: calc(100vw - 40px);
}
.movie-list{
    padding: 0 0 0 10px;
    margin: 5px 0 25px 0;
}

.status-default{
    fill: var(--color-silver);
}

.status-red{
    background: url(../../images/heart.svg);
    height: 14px;
    width: 14px;
    display: inline-block;
    margin-right: 4px;
    path{
        fill: var(--color-red);
    }
}

.mdc-card{
    height: 120px;
    display: block!important;
    overflow: hidden;
    .mdc-card__media{
        float: left;
        height: 100%;
        width: 80px;
        background-image: url('../../images/placeholder.png');
    }
    .card-content{
        float: left;
        padding: 5px 10px;
        width: calc(100% - 80px);
        font-weight: 700;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        height: 100%;
        .rating{
            float: right;
            font-weight: 700;
        }
        .year{
            float: left;
            font-weight: 700;
        }
        .name{
            font-weight: 700;
            display: block;
            margin-bottom: 2px;
            flex: 1;
        }
    }    
}

.category-head{
    color: var(--color-trinidad);
    margin:0;
    padding: 3px 15px;
    background: #000000c2;
    box-shadow: 1px 1px 1px 0px var(--color-black);
    font-weight: 700;
    width: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: right;
}
  
.list-length{
    color: var(--color-white);
    margin: 0 0 0 12px;
    display: inline-block;
}
.loader{
    width: calc(100% + 20px);
}