.scroll-wrapper{
    width: 28px;
    padding: 7px;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    position: fixed;
    right: 0;
    top: 4rem;
    background: var(--color-woodsmoke);
    align-items: center;
    li{
        flex:1;
        align-items: center;
        display: flex;
        color: var(--color-scroll-item);
        font-size: 12px;
        font-weight: 700;
        cursor: pointer;
        user-select: none;
        &:hover{
            color:var(--color-trinidad);
            font-size: 20px;
        }
    }
}