// Color map for app
:root{
    --color-gray: #919191;
    --color-woodsmoke: #151516;
    --color-silver: #c0c0c0;
    --color-red: #f60000;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-trinidad: #e64400;
    --color-scroll-item: #a932008f;
    --color-red-orange: #ff253a;
    --color-gallery: #eeeeee;
}
