.container{
    background: rgba(255, 255, 255, .14);
    position: relative;
    top: 65px;
    height: calc(100vh - 100px);
    overflow-x: auto;
}
.movie-wrapper{
    width: calc(100vw - 40px);
    float:left;
}
.movie-list{
    padding: 0 0 0 10px;
    list-style-type: none;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    margin: 5px 0 25px 0;
}

.card-content{
    padding: 5px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 12px;
    .rating{
        float: right;
        font-weight: 700;
    }
    .year{
        float: left;
        font-weight: 700;
    }
    .name{
        font-weight: 700;
        display: block;
        margin-bottom: 2px;
        flex:1;
    }
}

.status-default{
    fill: $silver;
}

.status-red{
    fill: $red;
}

.mdc-card{
    overflow: auto;
}

.category-head{
    color: $trinidad;
    margin:0;
    padding: 3px 15px;
    background: #000000c2;
    box-shadow: 1px 1px 1px 0px $black;
    font-weight: 700;
    width: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: right;
}
  
.list-length{
    color: $white;
    margin: 0 0 0 12px;
    display: inline-block;
}
.loader{
    width: calc(100% + 20px);
}