.container{
    background: rgba(255, 255, 255, .14);
    position: relative;
    top: 60px;
    height: calc(100vh - 60px);
    overflow-x: auto;

    .movie-list{
        padding:0;
        margin: 16px 0 16px 16px;
        list-style-type: none;
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(2, minmax(0, 1fr) );
        width: calc(100% - 60px);
    }

    .card-content{
        padding: 5px 10px;
        display: flex;
        height: 100%;
        align-items: center;
    }

    .status-default{
        fill: $silver;
    }

    .status-red{
        fill: $red;
    }

    .mdc-card{
        overflow: auto;
    }

    /* .mdc-card__media:hover{
        filter: grayscale(0);
    } */

    .card-rating{
        font-size: 20px;
        width: 50px;
        text-align: right;
    }

    .card-text{
        align-items: center;
        display: flex;
        width: calc(100% - 50px);
        padding-right:10px;
    }

}
  
