*{
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
  
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    background: $woodsmoke;
    --mdc-typography-subtitle2-font-weight: 700;
    --mdc-typography-font-family: 'Montserrat Alternates', sans-serif;
}

li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.float-right{
    float: right;
}

.float-left{
    float: left
}