.scroll-wrapper{
    width: 28px;
    padding: 7px;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    position: fixed;
    right: 0;
    top: 65px;
    background: $woodsmoke;
    align-items: center;
    li{
        flex:1;
        align-items: center;
        display: flex;
        color: #a932008f;
        font-size: 12px;
        font-weight: 700;
        cursor: pointer;
        &:hover{
            color:$trinidad;
            font-size: 20px;
        }
    }
}