.search-bar{
    width: 100%;
    padding: 15px 8px;
    background: $woodsmoke;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: $app-box-shadow;

    .search-input{
        width: 100%;
        height: 35px;
        border-radius: 30px;
        font-size: 18px;
        background: rgba(255, 255, 255, .14);
        border: 0;
        padding: 9px 10px 6px 42px;
        color: $gray;
        outline: none;
    }
    
    .icons{
        position: absolute;
        top: 23px;
    }
    .search-cam{
        left: 20px
    }
    .search-icon{
        right: 60px
    }
    .search-speech{
        right: 20px;
        cursor: pointer;
    }
    .search-clear{
        right: 60px;
        cursor: pointer;
        border-right: 1px solid $gray;
        padding-right: 15px;
    }
}


  